<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='administrador.css') }}">
    <title>Administrador</title>
</head>
<script>
    async function getData(url) {
    try {
        const response = await fetch(url);
        if (!response.ok) {
            throw new Error('Network response was not ok ' + response.statusText);
        }
        const data = await response.json();
        console.log(data);
    } catch (error) {
        console.error('Houve um problema com a requisição fetch:', error);
    }
}

const url = 'https://api.exemplo.com/dados';
getData(url);

</script>
<body>
<header>
<h1>Inovação Saúde</h1>
</header>    
<nav>
    <ul>
        <li><a href="/agenda">Agenda</a></li> 
        <li><a href="/usuarios">Usuários</a></li> 
        <li><a href="/consulta">Consulta</a></li> 
        <li><a href="/faturamento">Faturamento</a></li> 
        <li><a href="/lista">Estoque</a></li>
    </ul>
</nav>
<main>
    
</main>
</body>
</html>