<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Medicamentos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cadastro.css') }}">
    <script>
        async function postData(event) {
            event.preventDefault(); // Evita o envio do formulário de forma padrão

            const form = event.target;
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            try {
                const response = await fetch('/api/medicamentos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();

                const outputElement = document.getElementById('output');
                if (response.ok) {
                    outputElement.textContent = 'Medicamento cadastrado com sucesso!';
                } else {
                    outputElement.textContent = `Erro: ${result.message}`;
                }
            } catch (error) {
                console.error('Erro:', error);
                document.getElementById('output').textContent = 'Erro ao enviar dados';
            }
        }
    </script>
</head>
<body>
    <form onsubmit="postData(event)">
        <label for="nome">Nome do medicamento:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" required>
        <br>
        <label for="descricao">Descrição do medicamento:</label>
        <input type="text" id="descricao" name="descricao">
        <br>
         <div class="buttonform">
            <button type="submit">Enviar</button>
            <a href="/lista">Cadastrados</a>
         </div>
    </form>
    <main>
        <div id="output"></div>
    </main>
</body>
</html>
