<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lista.css') }}">
    <title>Medicamentos</title>
    <script>
        async function fetchData() {
            try {
                const response = await fetch('/api/medicamentos');
                if (!response.ok) {
                    throw new Error('Erro ao buscar dados');
                }
                const result = await response.json();
                const outputElement = document.getElementById('output');
                outputElement.innerHTML = ''; // Limpar conteúdo anterior

                result.forEach(medicamento => {
                    const nomeElement = document.createElement('div');
                    nomeElement.textContent = medicamento.nome;
                    outputElement.appendChild(nomeElement);

                    const quantidadeElement = document.createElement('div');
                    quantidadeElement.textContent = medicamento.quantidade;
                    outputElement.appendChild(quantidadeElement);

                    const descricaoElement = document.createElement('div');
                    descricaoElement.textContent = medicamento.descricao;
                    outputElement.appendChild(descricaoElement);
                });
            } catch (error) {
                console.error('Erro:', error);
                document.getElementById('output').textContent = 'Erro ao buscar dados';
            }
        }

        window.onload = fetchData;
    </script>
</head>
<body>
    <header>
        <h1>Lista de Medicamentos</h1>
        <a href="/"><button>Voltar</button></a>
    </header>
    <div id="output-container">
        <h2 class="header-item">Medicamento</h2>
        <h2 class="header-item">Quantidade</h2>
        <h2 class="header-item">Descrição</h2>
        <div id="output" class="output-grid"></div>
    </div>
</body>
</html>
